@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-lora: "Lora", serif;
  --font-poppins: "Poppins", serif;
}
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: light;
  default: true;
  --color-primary: #588157; /* brand green - for main buttons, highlights */
  --color-secondary: #a3b18a; /* soft green - for secondary buttons, subtle accents */
  --color-accent: #3a5a40; /* dark green accents - for important interactive elements, dark highlights */
  --color-neutral: #344e41; /* text / neutral dark - for primary text, icons */
  --color-base-100: #ffffff; /* clean white background - for main body background */
  --color-base-200: #f0f4f0; /* light grey/off-white - for card backgrounds, subtle sections */
  --color-base-300: #e0e4e0; /* even lighter grey/off-white - for borders, separators */
  --color-info: #5b90d2; /* a friendly blue for informational messages, badges */
  --color-success: #7dae6b; /* a brighter green for success messages, confirmations */
  --color-warning: #f8c95c; /* a golden yellow for warnings, alerts */
  --color-error: #da6b6b; /* a soft red for errors, destructive actions */
}
@plugin "daisyui/theme" {
  name: dark;
  prefersdark: true;
  --color-primary: #588157; /* softer green - for main buttons, highlights */
  --color-secondary: #a3b18a; /* deeper accent - for secondary buttons, subtle accents */
  --color-accent: #3a5a40; /* muted dark green accent - for important interactive elements */
  --color-neutral: #dad7cd; /* light neutral text - for primary text, icons */
  --color-base-100: #1a1a1a; /* near black background - for main body background */
  --color-base-200: #2b2b2b; /* a slightly lighter black/dark grey - for card backgrounds, subtle sections */
  --color-base-300: #3a3a3a; /* a dark grey for borders, separators */
  --color-info: #5b90d2; /* a friendly blue */
  --color-success: #7dae6b; /* a brighter green */
  --color-warning: #f8c95c; /* a golden yellow */
  --color-error: #da6b6b; /* a soft red */
}
button {
  font-family: var(--font-poppins);
}
